<div class="container">
  <ng-progress></ng-progress>
  <h1>My Goals</h1>
  <hr />
  <div class="row">
      <div class="col-md-6 all-cards">
        <div class="all">
        <div *ngFor="let goal of goals; let i = index" class="area">
          <li appStrikethrough>
            {{ goal.name }} due on {{ goal.completeDate | date | uppercase }}
          </li>
          <button (click)="toggleDetails(i)" class="btn btn-primary">
            Toggle Details
          </button>
          <app-goal-detail
            *ngIf="goal.showDescription"
            [goal]="goal"
            (isComplete)="deleteGoal($event, i)"></app-goal-detail>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-goal-form (addGoal)="addNewGoal($event)"></app-goal-form>
    </div>
    <div class="row">
      <blockquote class="blockquote text-center">

        <p class="mb-0">{{quote.quote}}</p>

        <div class="blockquote-footer"><cite>{{quote.author}}</cite></div>
      </blockquote>
    </div>
  </div>
</div>
